{% form_theme form 'bootstrap_4_layout.html.twig' %}
<div class="form-group">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary btn-lg">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
</div>

