{% extends 'base.html.twig' %}

{% block title %}New Vaccin{% endblock %}

{% block body %}
<div class="container-fluid">
    
    <h1>Ajouter un nouveau vaccin</h1>
</div>
<div class="container-fluid">
    {{ include('vaccin/_form.html.twig') }}
    
</div>
 
{% endblock %}
