<form method="post" action="{{ path('centre_vaccination_delete', {'id': centre_vaccination.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre_vaccination.id) }}">
    <button class="btn">Delete</button>
</form>
