{% extends 'base.html.twig' %}

{% block title %}New CentreVaccination{% endblock %}

{% block body %}

    <div class="container-fluid">
        
        <h1>Ajouter un centre de vaccination</h1>
    </div>
    <div class="container-fluid">
        {{ include('centre_vaccination/_form.html.twig') }}
    
    </div>
{% endblock %}

